.gamefield {
    background-color: yellow;
    height: 100%;
    min-height: 500px;
    margin: 0 auto;
    min-width: 1000px;
    /*max-height: 1200px;*/
    position: relative;
}
.gametable {
    height: 100%;
    padding-bottom: 100px;
    box-sizing: border-box;
    background-color: #2E8B57;
}
.playerboard {
    position: absolute;
    bottom: 0;
    background-color: #CD853F;
    height: 100px;
    width: 100%;
}
.leftplayer,
.rightplayer {
    height: 100%;
    width: 30%;
    float: left;
}
.mainplayer {
    height: 100%;
    width: 40%;
    float: left;
}
.leftplayer__freespace,
.rightplayer__freespace {
    height: 16.66666666%;
    border: 1px black solid;
}
.leftplayer__cardsplace,
.leftplayer__chipsplace,
.rightplayer__cardsplace,
.rightplayer__chipsplace,
.dealer__cardsplace,
.mainplayer__cardsplace,
.mainplayer__chipsplace {
    height: 33.33333333%;
    border: 1px black solid;
}
.cards,
.buttons {
    float: left;
    width: 50%;
}